html, body, div, span, iframe,
p, blockquote, pre,
a, em, img, strong, sub, sup, b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details,  
figure, figcaption, footer, header,  
main, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    box-sizing: border-box
}
body { line-height: 1 }
ol, ul { list-style: none }